@{ 
    ViewData["Title"] = "Home Page";
}

<div class="text-center" style="font-family: Verdana, Geneva, Tahoma, sans-serif">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>

<div style="border:solid black; padding:0px">
    <img style="width:400px; height: 400px; padding-left: 50px; padding-right: 25px; margin: 25px 50px 25px 50px;" src="~/img/chair1.jfif" />
    <img style="width: 400px; height: 400px; padding-left: 50px; padding-right: 25px; margin: 25px 50px 25px 50px;" src="~/img/chair2.png" />
    <img style="width: 400px; height: 400px; padding-left: 50px; padding-right: 25px; margin: 25px 50px 25px 50px;" src="~/img/chair3.jpg" />
    <img style="width: 450px; height: 400px; padding-left: 50px; padding-right: 25px; margin: 25px 50px 25px 50px;" src="~/img/chair4.png" />
</div>
