@{
    ViewData["Title"] = "Privacy Policy";
}

<style>
    p {
        font-family: Verdana, sans-serif;
        margin: 0;
    }
</style>
<h1>@ViewData["Title"]</h1>

<p>Use this page to detail your site's privacy policy.</p>
<p>You will get the details of you transaction via Email.</p>
<p>Your data will be safe with us.</p>
<p>There is no other branch, so do not believe in other's talk related to our shop. </p>

